@use '../../styles/_variables' as *;

.doctors {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (min-width: $small-screen) and (max-width: $big-screen) {
  .doctors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $small-screen) {
  .doctors {
    grid-template-columns: 1fr;
  }
}
