@use '../styles/_variables' as *;

$header-item-padding: 1.25rem;
$header-item-padding-sides: 2.5rem;

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $snow;
}

.header {
  height: $header-height;
  width: 100%;
  display: flex;
  background-color: $primary;
  justify-content: flex-end;
  align-items: center;

  &__link {
    padding: $header-item-padding $header-item-padding-sides;
    background-color: transparent;
    font: inherit;
    border: 0;
  }

  &__links {
    display: flex;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  z-index: 3;
  margin: $header-item-padding 1rem;

  &--expanded {
    position: fixed;
    .hamburger__top {
      transform: translateY(calc(0.25rem + 3px)) rotate(45deg);
    }

    .hamburger__bottom {
      transform: translateY(calc(-0.25rem - 3px)) rotate(-45deg);
    }

    .hamburger__middle {
      transform: translateX(100px);
      opacity: 0;
      display: hidden;
    }
  }

  &__top,
  &__middle,
  &__bottom {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: black;
  }

  &__middle {
    margin: 0.25rem 0;
  }
}

.sidebar {
  position: fixed;
  z-index: 2;

  &--expanded {
    inset: 0 0 0 0;
    background-color: rgba(36, 36, 36, 0.5);
    .sidebar__bar {
      width: min(100%, 15rem);
    }

    .sidebar__nav {
      margin-top: $header-height;
      display: flex;
    }
  }

  &__bar {
    position: fixed;
    background-color: $snow;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
  }

  &__nav {
    display: none;
    flex-direction: column;
  }

  &__link {
    padding: $header-item-padding;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: transparent;
    font: inherit;
    text-align: left;
  }
}

.main {
  margin-inline: auto;
  width: min(80%, 1340px);
}

.footer {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $small-screen) {
  .hamburger {
    display: block;
  }

  .header__links {
    display: none;
  }
}
